<nav >
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item" [class.disabled]="paginaActual === 1">
        <a class="page-link" (click)="irPrimeraPagina()"><i class="fa-solid fa-angles-left"></i></a>
      </li>
      <li class="page-item" [class.disabled]="paginaActual === 1">
        <a class="page-link" (click)="paginaAnterior()"><i class="fa-solid fa-arrow-left"></i></a>
      </li>
  
      <li class="page-item" *ngFor="let num of getPaginasRango()" [class.active]="num === paginaActual">
        <a class="page-link" (click)="cambiarPagina(num)">{{ num }}</a>
      </li>
  
      <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
        <a class="page-link" (click)="paginaSiguiente()"><i class="fa-solid fa-arrow-right"></i></a>
      </li>
      <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
        <a class="page-link" (click)="irUltimaPagina()"><i class="fa-solid fa-angles-right"></i></a>
      </li>
    </ul>
  </nav>
  