<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let perfil of perfiles">
      <div class="card h-100 text-center">
        <img [src]="perfil.fotoEmpleado" class="mx-auto d-block" alt="Foto del empleado">
        <div class="card-body">
          <h5 class="card-title">{{ perfil.empleado?.nombreEmpleado }}</h5> <!-- Aquí accedemos al nombre del empleado -->
          <h5 class="card-subtitle">Sus enfoques</h5>
          <p class="card-text">{{ perfil.enfoquesEmpleado }}</p>
          <a class="nav-link btn" [routerLink]="['/info']">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
