<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 text-center">
        <img src="asset/images/anya.jpg" class="mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anya</h5><h5 class="card-title">Sus enfoques </h5>
          <p class="card-text">Su estilo se caracteriza por líneas finas, detalles delicados y una paleta de colores suaves y pastel. Le apasionan los tatuajes florales, animales y mandalas, a los que suele añadir elementos de la simbología rusa y siberiana.</p>
          <a class="nav-link btn" [routerLink]="['/info']">ver mas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <img src="asset/images/alex.jpg" class="mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alex Martínez</h5><h5 class="card-title">Sus enfoques </h5>
          <p class="card-text">Su enfoque único y su habilidad para plasmar las historias de sus clientes en tinta han hecho de Alex una pieza clave en el éxito de Ink Master, ayudando a expandir la visión del estudio como un lugar donde las ideas se convierten en arte eterno.</p>
          <a class="nav-link btn" [routerLink]="['/info']">ver mas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <img src="asset/images/inktail.jpg" class="mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ink tail</h5><h5 class="card-title">Sus enfoques </h5>
          <p class="card-text">Se especializa en realismo, retratos y tatuajes de gran formato, pero también disfruta experimentando con otros estilos como el neo tradicional y el japonés.</p>
          <a class="nav-link btn" [routerLink]="['/info']">ver mas</a>
        </div>
      </div>
    </div>
  </div>
  </div>