<div class="form-wrapper">
  <div class="container" id="form">
    <h2 class="form-title">Registra tu cita</h2>
    <form class="p-3 m-5 rounded" [formGroup]="form" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label class="form-label" for="fechaCita">Fecha de tu cita</label>
        <input type="date" class="form-control" id="fechaCita" formControlName="fechaCita">
      </div>

      <div class="mb-3">
        <label class="form-label" for="horaCita">Hora de la cita</label>
        <input type="time"  class="form-control" id="horaCita" formControlName="horaCita">
      </div>

      <div class="mb-3">
        <label class="form-label" for="idEmpleado">Empleado</label>
        <select class="form-select" id="idEmpleado" formControlName="idEmpleado">
          <option value="">Seleccione un empleado</option>
          <option *ngFor="let empleado of empleados" [value]="empleado.idEmpleado">
            {{ empleado.nombreEmpleado }}
          </option>
        </select>
      </div>

      <div>
        <button type="submit" class="btn btn-dark" [disabled]="form.invalid">Ingresar</button>
      </div>

    </form>
  </div>
</div>