<div class="form-wrapper">
  <div class="container" id="form">
      <h2 class="form-title">Registrate!</h2>
      <form class=" p-3 m-5 rounded" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
              <label class="form-label">
                Correo 
                <button 
                  type="button" 
                  class="btn btn-sm btn-outline-light" 
                  [ngbPopover]="'Debes ingresar un correo válido con el formato: ejemplo@correo.com'"
                popoverTitle="Requisitos del correo"
                placement="right"
                #e="ngbPopover"
                triggers="click"
              >
                  ?
                </button>
              </label>
              <input 
                type="email" 
                class="form-control" 
                id="correoCliente" 
                formControlName="correoCliente"
                (blur)="mostrarPopover(e)"
              (input)="ocultarPopover(e)"
              >
              <div *ngIf="form.get('correoCliente')?.invalid && form.get('correoCliente')?.touched" class="text-dark">
                Ingresa un correo válido.
              </div>
            </div>
          <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombreCliente" formControlName="nombreCliente" required>
          </div>
          <div class="mb-3">
              <label class="form-label">Apellido</label>
              <input type="text" class="form-control" id="apellidoCliente" formControlName="apellidoCliente">
          </div>
          <div class="mb-3">
              <label class="form-label">Telefono</label>
              <input type="text" class="form-control" id="telefonoCliente" formControlName="telefonoCliente">
          </div>
          <div class="mb-3">
            <label class="form-label">
              Contraseña
              <button
                type="button"
                class="btn btn-sm btn-outline-light"
                [ngbPopover]="'Tu contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un carácter especial.'"
                popoverTitle="Requisitos de la contraseña"
                placement="right"
                #p="ngbPopover"
                triggers="click"
              >
                ?
              </button>
            </label>
            <input
              type="password"
              class="form-control"
              id="contrasenaCliente"
              formControlName="contrasenaCliente"
              (blur)="mostrarPopover(p)"
              (input)="ocultarPopover(p)"
            >
            <div *ngIf="form.get('contrasenaCliente')?.invalid && form.get('contrasenaCliente')?.touched" class="text-dark">
              La contraseña no cumple con los requisitos.
            </div>
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-dark" name="Guardar" [disabled]="form.invalid">Registrate</button>
          </div>            
      </form>
  </div>
  </div>
