<div class="container-fluid">
    <div class="row">
      <div class="card mb-3" style="max-width: 1450px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="asset/images/alex.jpg" class="img-fluid rounded-end" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Historia</h5>
                <p class="card-text">Nacida en Siberia, Anya creció rodeada de la naturaleza salvaje y las antiguas tradiciones de su pueblo. Desde pequeña, sintió una conexión profunda con el arte y la expresión corporal, encontrando en los tatuajes una forma de unir ambas pasiones. A los 18 años se mudó a Moscú para estudiar arte y comenzó a tatuar de forma autodidacta, inspirada en los diseños tradicionales rusos y siberianos.</p>
                <h5 class="card-title">Experiencia</h5>
                <p class="card-text">Estudios: Ha trabajado en varios estudios de tatuajes en Moscú y Berlín, donde perfeccionó su técnica y desarrolló un estilo único que fusiona elementos de la cultura tradicional rusa con influencias occidentales del arte contemporáneo.
                    Proyectos personales: Ha participado en numerosas exposiciones de arte y convenciones de tatuajes, tanto en Rusia como en el extranjero. Además, ha colaborado con marcas de moda y revistas especializadas en tatuajes.
                    <h5 class="card-title">Sus enfoques </h5>
                        <p class="card-text">Su estilo se caracteriza por líneas finas, detalles delicados y una paleta de colores suaves y pastel. Le apasionan los tatuajes florales, animales y mandalas, a los que suele añadir elementos de la simbología rusa y siberiana.
            </div>
          </div>
        </div>
      </div>
    </div>