<div class="container-fluid">
  <div class="text mb-3">
    <br><br>
    <p class="text-uppercase display-9 font-weight-bold">Tattoo Studio</p>
    <p class="text-uppercase display-9 font-weight-bold">Ink Master</p>
    <br><br><br><br><br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm border-light">
        <div class="card-body">
          <h5 class="card-title text-uppercase font-weight-bold">Historia</h5>
          <p class="card-text">
            Fundado el 15 de julio de 2010, Ink Master nació en una pequeña esquina del centro histórico de la ciudad como el sueño de tres amigos apasionados por el arte y la creatividad...
          </p>
          <h5 class="card-title text-uppercase font-weight-bold mt-4">Misión</h5>
          <p class="card-text">
            Nuestra misión es transformar ideas y emociones en arte eterno a través de tatuajes únicos, realizados con pasión, profesionalismo y los más altos estándares de calidad y seguridad...
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm border-light">
        <div class="card-body">
          <h5 class="card-title text-uppercase font-weight-bold">Contáctanos</h5>
          <ul class="list-unstyled">
            <li><strong>Instagram:</strong> Inkmaster</li>
            <li><strong>Facebook:</strong> Inkmaster</li>
            <li><strong>Twitter:</strong> Inkmaster</li>
            <li><strong>TikTok:</strong> Inkmaster</li>
            <li><strong>Dirección:</strong> Carrera 100 #22-30</li>
            <li><strong>Teléfono:</strong> 322456891</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>